@page "/"
@inject PizzaSalesState SalesState
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div class="main">

    <h1>Welcome to Blazing Pizzas</h1>

    <p>Today, we've sold this many pizzas: @SalesState.PizzasSoldToday</p>

    <button @onclick="IncrementSales">Buy a Pizza</button>

    <ul class="pizza-cards">
    @if (specials != null)
    {
        @foreach (var special in specials)
        {
        <li style="background-image: url('@special.ImageUrl')">
            <div class="pizza-info">
            <span class="title">@special.Name</span>
            @special.Description
            <span class="price">@special.GetFormattedBasePrice()</span>
            </div>
        </li>
        }
    }
    </ul>
</div>

@code {
    List<PizzaSpecial> specials = new();

    protected override async Task OnInitializedAsync()
    {
        specials = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>(NavigationManager.BaseUri + "specials");
    }

    private void IncrementSales()
	{
		SalesState.PizzasSoldToday++;
	}
}